body {
    margin: 10px;
}

h1 {
    color: rebeccapurple;
    margin-left: 10px;
}

img {
    margin-left: 10px;
    width: 40%;
    height: 80%;
}

p {
    width: 500px;
    height: 10%;
    font-size: 25px;
    padding: 5px;
}

#orangetext {
    background-color: orange;
}

.quotes {
    color: red;
}

a {
    font-size: 25px;
    margin-bottom: 10px;
}